html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    height: 100%;
    background-color: rgb(255, 236, 209);
}

nav {
    display: flex;
    background-color: rgb(253, 214, 155);
    height: 10%;
    width: 100%;
}

a {
    text-decoration: none;
    color: brown;
}

#links1 {
    /* height: 100%; */
    width: 70%;
    /* z-index: 10; */
}
#links2 {
    margin-left: auto;
}

.Navi {
    height: 100%;
    align-content: center;
    margin-left: 1%;
    margin-right: 1%;
}
#Duck {
    height: 100%;
    /*transition: 3s;*/
    transition: all 5s;
}
#Duck:hover {
    transform: translate(1425%);

}
td,
th {
    border: 1px solid red;
}
table {
    border: 1px solid red;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}